/* body css */
*{
    margin: 0;
}
body{
    background-color: rgb(211, 215, 218);
    font-family: cursive;
}

/* header css */
header{
    background-color: black;
    height: 5em;  
}
.menu{
    float: right;
    margin-top: 27px;
    margin-right: 30px;
}
.menu a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 20px; 
}
.menu a:hover{
    background-color: rgb(211, 215, 218);
    color: rgb(9, 9, 9);
    font-size: 25px ;
}

/* section HOME */
#image{
    margin: 120px;
    /* border: 1px solid red; */
}
.homePara{
   float: right;
    /* border: 1px solid red; */
    width: 65%;
    margin-top: 170px;
}
.homePara h2{
    text-align: center;
    padding: 25px;
}

/* section SKILLS */
.skillsPara{
    float: right;
     /* border: 1px solid red; */
     width: 65%; 
 }
 .skillsPara h2{
    text-align: center;
    padding: 25px;
}

/* section EDUCATION */
.educationPara{
     float: right;
     /* border: 1px solid red; */
     width: 65%;
     margin-top: 50px; 
 }
 .educationPara h2{
    text-align: center;
    padding: 25px;
}
.educationPara span{
    margin-left: 150px;
}
.para{
    margin-left: 255px;
}

/* section PROJECTS */
.projectsPara{
    float: right;
    /* border: 1px solid red; */
    width: 65%;
    margin-top: 60px; 
}
.projectsPara h2{
    text-align: center;
    padding: 25px;
}

/* section CONTACT */
.contactPara{
    float: right;
    /* border: 1px solid red; */
    width: 65%;
    margin-top: 70px; 
}
.contactPara img{
    margin-left: 90%;
}
.contactPara h2{
    text-align: center;
    padding: 25px;
}
li{
    list-style-type: square;
}
.contactFooter{
    background-color: black;
    height: 60px;
    margin-top: 90%;
}
.contactFooter img{
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 14%;
    margin-top: 8px;
    background-color: white;
}

